<div class="container-fluid text-center d-flex justify-content-center">
    <table class="table table table-striped">
      <thead>
        <tr>
          <th>Codigo de Empleado</th>
          <th>Nombre Completo</th>
          <th>Acción</th>
        </tr>
      </thead>
    
      <tbody>
        <% locals.employees.sort((a,b)=> a.employee_code - b.employee_code) %>        
        <% locals.employees.forEach(employee => { %>
          <tr id="<%= employee.employee_code %>">
            <td><%= employee.employee_code %></td>
            <% if (locals.webTitle==="collaboratorsList") { %>
              <td><a href="/collaborator-images-gallery?employee_code=<%= employee.employee_code %>&fullname=<%= employee.nombre_completo %>" class="link-secondary"><%= employee.nombre_completo %></a></td>
            <% } else { %>
              <td><%= employee.nombre_completo %></td>
            <% } %>
             
            <td><i class="bi bi-trash icon-delete"></i></td>
          </tr>
        <% }) %>
      </tbody>

    </table> 
   
  </div>